.container1{
    margin-left:25%;
    margin-right:25%;
    margin-top: 5%;
    background-color:#f3f3ef;
    border-radius: 5%;
}

.index{
    text-align: right;
    margin-right: 5%;
    font-size: 1rem;
}

.img {
    margin: 0 auto;
    width: 180px;
    height: 140px;
    margin-top: 10%;
    border-radius: 50%;
    background-color: #ac94e9;
}

.creator_name{
    margin-top: 10%;
    font-size: 1rem;
}
.text{
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
}
.area {
    text-align: center;
}
.hr {
    width: 300px;
}
.univ {
    text-align: center;
}
.intromy {
    margin-left: 45px;
    margin-right: 45px;
    text-align: center;
}
.btnDiv {
    text-align: center;
}
.btn {
    background-color: #ac94e9;
    border: none;
    margin-top: 10px;
}
.interest {
    text-align: center;
}
.tag {
    background-color:#d8d8d8;   
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
}
.btn {
    margin-bottom: 10px;
}
